.controls {
  text-align: center;
  margin-bottom: 20px;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.column {
  background: brown;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
  min-height: 300px;
}

.column h2 {
  text-align: center;
}

.task {
  background: #e3e3e3;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.task button {
  margin-top: 5px;
}


  .card {
  display: flex;
  flex-direction: column;   /* IMPORTANT */
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: orange;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}
